html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 800px;
  height: 600px;
  overflow: hidden;
}
body {
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  overflow-y: scroll;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.popup {
  position: relative;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
}
.popup .folder-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 0 10px 0;
}
.popup .folder-arrow-icon {
  width: 16px;
  height: auto;
  margin-right: 8px;
}
.popup .bookmark-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.popup .bookmark-link .favicon {
  flex: 0 0 16px;
  width: 16px;
  margin-right: 8px;
}
